<div mdbModal #lectory="mdbModal" class="modal fade left" id="frameModalLectory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content my-modal m-2 m-md-auto">
            <button type="button" class="close my-modal__close" data-dismiss="modal" aria-label="Close" (click)="lectory.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body mx-3 m-3 p-2">
                <div class="heading">
                    <div class="heading__title text-center mb-3">{{ 'modal.lectory.title' | translate:lang }}</div>
                    <div class="heading__subtitle text-center mb-3">{{ 'modal.lectory.subtitle' | translate:lang }}</div>
                </div>
                <div class="my-modal__content mb-4 mb-md-1">
                    <div class="md-form m-0">
                        <p class="label mb-2 mb-md-2 mb-lg-2">{{ 'modal.form.name' | translate:lang }}</p>
                        <input type="email" id="defaultForm-email" [formControl]="lectoryFormModalName" class="form-control validate inputfield px-3 inputfield-blue mb-1 mb-md-3" mdbInputDirective>
                    </div>
                    <div class="md-form mb-md-4 m-0">
                        <p class="label mb-2 mb-md-2 mb-lg-2 mt-2 mt-md-0">{{ 'modal.form.phone' | translate:lang }}</p>
                        <input type="tel" id="defaultForm-pass" [formControl]="lectoryFormModalPhone" class="form-control validate inputfield px-3 inputfield-blue mb-1 mb-md-3" mdbInputDirective>
                    </div>
                </div>
                <button (click)="lectory.hide()" mdbBtn type="button" color="primary" rounded="true" class="waves-light button submit-button blue-button" mdbWavesEffect>{{ 'modal.button' | translate:lang }}</button>
            </div>
        </div>
    </div>
</div>

<div mdbModal #conference="mdbModal" class="modal fade left" id="frameModalConference" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content my-modal m-2 m-md-auto">
            <button type="button" class="close my-modal__close" data-dismiss="modal" aria-label="Close" (click)="conference.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body mx-3 m-3 p-2">
                <div class="heading">
                    <div class="heading__title text-center mb-3">{{ 'modal.conference.title' | translate:lang }}</div>
                    <div class="heading__subtitle text-center mb-3">{{ 'modal.conference.subtitle' | translate:lang }}</div>
                </div>
                <div class="my-modal__content mb-4 mb-md-1">
                    <div class="md-form m-0">
                        <p class="label mb-2 mb-md-2 mb-lg-2">{{ 'modal.form.name' | translate:lang }}</p>
                        <input type="email" id="defaultForm-email" [formControl]="conferenceFormModalName" class="form-control validate inputfield px-3 inputfield-green mb-1 mb-md-3" mdbInputDirective>
                    </div>
                    <div class="md-form mb-md-4 m-0">
                        <p class="label mb-2 mb-md-2 mb-lg-2 mt-2 mt-md-0">{{ 'modal.form.phone' | translate:lang }}</p>
                        <input type="tel" id="defaultForm-pass" [formControl]="conferenceFormModalPhone" class="form-control validate inputfield px-3 inputfield-green mb-1 mb-md-3" mdbInputDirective>
                    </div>
                </div>
                <button (click)="conference.hide()" mdbBtn type="button" color="primary" rounded="true" class="waves-light button submit-button green-button" mdbWavesEffect>{{ 'modal.button' | translate:lang }}</button>
            </div>
        </div>
    </div>
</div>

<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar ie-nav" [containerInside]="true">
    <mdb-navbar-brand (click)="navigateToSection('about-us'); false">
        <a class="logo navbar-brand" href="#about-us"><img src="assets/images/logo.svg" alt="lazy-school"></a>
    </mdb-navbar-brand>
    <links>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item waves-light ml-5 position-relative" mdbWavesEffect [ngClass]="{'active-view': currentNavItem === 'about-us'}" (click)="navigateToSection('about-us'); false">
                <a class="nav-link" href="#about-us">{{ 'nav.about-us' | translate:lang }}</a>
            </li>
            <li class="nav-item waves-light ml-5 position-relative" mdbWavesEffect [ngClass]="{'active-view': currentNavItem === 'rent'}" (click)="navigateToSection('rent'); false">
                <a class="nav-link" href="#rent">{{ 'nav.rent' | translate:lang }}</a>
            </li>
            <li class="nav-item waves-light ml-5 position-relative" mdbWavesEffect [ngClass]="{'active-view': currentNavItem === 'master-classes'}" (click)="navigateToSection('master-classes'); false">
                <a class="nav-link" href="#master-classes">{{ 'nav.master-classes' | translate:lang }}</a>
            </li>
            <li class="nav-item waves-light ml-5 position-relative" mdbWavesEffect [ngClass]="{'active-view': currentNavItem === 'contacts'}" (click)="navigateToSection('contacts'); false">
                <a class="nav-link" href="#contacts">{{ 'nav.contacts' | translate:lang }}</a>
            </li>
        </ul>
    </links>
</mdb-navbar>

<main class="main no-overflow pb-5" (appAppear)="setAnimationOnScroll('aboutUs')">
    <div class="container" in-view-container (inview)="activateSectionAvailable === true && activateSection($event)" [bestMatch]="true">
        <div class="row mt-5 pt-lg-5 pt-0">
            <div class="col text-center">
                <section id="about-us" class="about-us" in-view-item [data]="'about-us'">
                    <div class="row">
                        <div class="col col-12 col-lg-7 p-0">
                            <div class="about-us__photo invis animation fast" [ngClass]="{'fadeInRightBig': animation.aboutUs, 'visible': animation.aboutUs}">
                                <img class="image" src="assets/images/classroom.svg" alt="class-room">
                            </div>
                        </div>
                        <div class="col col-12 col-lg-5">
                            <div class="row mt-lg-5 about-us__description">
                                <div class="col col-12 invis animation fast" [ngClass]="{'fadeInUpBig': animation.aboutUs, 'visible': animation.aboutUs}">
                                    <p class="subtitle">{{ 'about-us.subtitle' | translate:lang }}</p>
                                    <p class="title">{{ 'about-us.title' | translate:lang }}</p>
                                    <p class="text">{{ 'about-us.main-text' | translate:lang }}</p>
                                    <p class="text">{{ 'about-us.adittional-text' | translate:lang }}</p>
                                    <button (click)="navigateToSection('rent')" mdbBtn type="button" color="primary" rounded="true" class="waves-light button animation slow infinite" mdbWavesEffect [ngClass]="{'pulse': animation.aboutUs}">{{ 'about-us.button-title' | translate:lang }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="rent" class="rent" in-view-item [data]="'rent'">
                    <div class="row rent__description">
                        <div class="col col-12">
                            <div class="row justify-content-center">
                                <div class="heading__content col-lg-auto">
                                    <p class="subtitle ml-lg-3">{{ 'rent.subtitle' | translate:lang }}</p>
                                    <p class="title ml-lg-3">{{ 'rent.title' | translate:lang }}</p>
                                    <p class="text">{{ 'rent.main-text' | translate:lang }} <span class="text__star">*</span> </p>
                                </div>
                            </div>
                            <div class="row mt-lg-5">
                                <div class="col col-12 col-lg-4 ml-auto mr-auto mt-5 mt-lg-1 invis animation fast" [ngClass]="{'fadeInLeft': animation.rentLectory, 'visible': animation.rentLectory}">
                                    <div class="square blue-border">
                                        <p class="price blue-text">{{ 'rent.lectory-price' | translate:lang }} <span class="price__currency">{{ 'rent.currency' | translate:lang }}</span></p>
                                        <div>
                                            <div (appAppear)="setAnimationOnScroll('rentLectory')"></div>
                                            <p class="title">{{ 'rent.lectory' | translate:lang }}</p>
                                            <p class="persons">{{ 'rent.per' | translate:lang }} {{ 'rent.lectory-quantity' | translate:lang }} {{ 'rent.persons' | translate:lang }}</p>
                                            <button (click)="lectory.show()" mdbBtn type="button" color="primary" rounded="true" class="waves-light button blue-button" mdbWavesEffect>{{ 'rent.button-title' | translate:lang }}</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-12 col-lg-4 ml-auto mr-auto mt-5 mt-lg-1 invis animation fast" [ngClass]="{'fadeInRight': animation.rentConference, 'visible': animation.rentConference}">
                                    <div (appAppear)="setAnimationOnScroll('rentConference')"></div>
                                    <div class="square green-border">
                                        <p class="price green-text">{{ 'rent.conference-price' | translate:lang }}<span class="price__currency">{{ 'rent.currency' | translate:lang }}</span></p>
                                        <div>
                                            <p class="title">{{ 'rent.conference' | translate:lang }}</p>
                                            <p class="persons">{{ 'rent.per' | translate:lang }} {{ 'rent.conference-quantity' | translate:lang }} {{ 'rent.persons' | translate:lang }}</p>
                                            <button (click)="conference.show()" mdbBtn type="button" color="primary" rounded="true" class="waves-light button green-button" mdbWavesEffect>{{ 'rent.button-title' | translate:lang }}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="master-classes" class="master-classes" (appAppear)="setAnimationOnScroll('master-classes')" in-view-item [data]="'master-classes'">
                    <div class="row master-classes__description justify-content-center">
                        <div class="col col-12 d-lg-flex d-block justify-content-center align-items-center flex-lg-column">
                            <div class="twrap">
                                <div class="subtitle">{{ 'master-classes.subtitle' | translate:lang }}</div>
                                <div class="title">{{ 'master-classes.title' | translate:lang }}</div>
                            </div>
                            <p class="text">{{ 'master-classes.main-text' | translate:lang }}</p>
                            <p class="text__adittional">{{ 'master-classes.adittional-text' | translate:lang }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-12 col-lg-10 square m-auto invis animation fast" [ngClass]="{'zoomIn': animation.masterContent, 'visible': animation.masterContent}">
                            <div class="row h-100" (appAppear)="setAnimationOnScroll('masterContent')">
                                <div class="col col-12 mt-5 square__content invis animation fast" [ngClass]="{'fadeInRightBig': animation.masterContent, 'visible': animation.masterContent}">
                                    <div class="square__title text-right pr-3 pr-md-0">{{ 'master-classes.phone-me' | translate:lang }}</div>
                                    <div class="square__text-tel text-right pr-3 pr-md-0">{{ 'phone' | translate:lang }}</div>
                                </div>
                                <div class="col col-12 mt-auto mb-5 square__content invis animation fast" [ngClass]="{'fadeInLeftBig': animation.masterContent, 'visible': animation.masterContent}">
                                    <div class="square__title text-left pl-3 pl-md-0">{{ 'master-classes.mail-me' | translate:lang }}</div>
                                    <div class="square__text square__text-email text-left pl-3 pl-md-0">{{ 'email' | translate:lang }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="contacts" class="contacts" (appAppear)="setAnimationOnScroll('contacts')" in-view-item [data]="'contacts'">
                    <div class="row contacts__description">
                        <div class="col col-12 d-lg-flex d-block justify-content-center align-items-center flex-lg-column">
                            <div class="twrap">
                                <div class="subtitle">{{ 'contacts.subtitle' | translate:lang }}</div>
                                <div class="title">{{ 'contacts.title' | translate:lang }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row position-relative contacts__map-wrapper">
                        <div class="col col-12 col-lg-10 pr-lg-5 p-0">
                            <agm-map class="contacts__map" [latitude]="location.lat" [longitude]="location.lng" [disableDefaultUI]="true" [zoom]="14" [scrollwheel]="false" [zoomControl]="false">
                                <agm-marker [latitude]="location.lat" [longitude]="location.lng"></agm-marker>
                            </agm-map>
                        </div>
                        <div (appAppear)="setAnimationOnScroll('mapDescription')"></div>
                        <div class="col col-12 col-lg-4 position-absolute contacts__text">
                            <div class="square d-flex flex-column justify-content-center text-left p-4 invis animation fast" [ngClass]="{'jackInTheBox': animation.mapDescription, 'visible': animation.mapDescription}">
                                <div class="square__title">{{ 'contacts.phone' | translate:lang }}</div>
                                <div class="square__text">{{ 'phone' | translate:lang }}</div>
                                <div class="square__title mt-4">{{ 'contacts.mail' | translate:lang }}</div>
                                <div class="square__text">{{ 'email' | translate:lang }}</div>
                                <div class="square__title mt-4">{{ 'contacts.work-time' | translate:lang }}</div>
                                <div class="square__text">{{ 'contacts.from' | translate:lang }} {{ 'time-from' | translate:lang }} {{ 'contacts.to' | translate:lang }} {{ 'time-to' | translate:lang }}</div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>

<footer class="page-footer font-small white">
    <div class="container">
        <div class="row mb-5 justify-content-lg-between">
            <div class="col col-12 col-lg-4 d-flex justify-content-center">
                <img src="assets/images/logo.svg" alt="lazy-school">
            </div>
            <div class="col col-12 col-lg-4 d-inline-flex d-flex justify-content-center mt-2 mt-lg-0">
                <a class="nav-link black-text" href="#"><i class="fa fa-4x fa-facebook"></i></a>
                <a class="nav-link black-text" href="#"><i class="fa fa-4x fa-twitter"></i></a>
                <a class="nav-link black-text" href="#"><i class="fa fa-4x fa-instagram"></i></a>
            </div>
        </div>
    </div>
</footer>
