/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: 'Source Sans Pro';
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Animation */

$size: 80px;
$anim-speed: 2s;

$anim-pull-scale-down: 0.5;
$anim-pull-translate-in: 150%;
$anim-pull-translate-out: 25%;
$anim-shimmy-out: 12px;

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

svg { position: absolute; }

.loading { /* Absolute Center Spinner */
    position: fixed;
    z-index: 99999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    &:before { /* Transparent Overlay */
        content: "";
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 1);
    }
    &:not(:required) { /* :not(:required) hides these rules from IE9 and below */
        /* hide "loading..." text */
        font: 0/0 a;
        color: transparent;
        text-shadow: none;
        background-color: transparent;
        border: 0;
        &:after {
            content: "";
            display: block;
            font-size: 10px;
            width: 1em;
            height: 1em;
            margin-top: -0.5em;
        }
    }
    .loader {
        display: flex;
        align-items: center;
        justify-content: center;
        filter: url('#gooey');
        animation: rotate $anim-speed ease infinite;

        position: fixed;
        z-index: 99999;
        overflow: visible;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        &:before { /* Transparent Overlay */
            content: "";
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 1);
        }
        &:not(:required) { /* :not(:required) hides these rules from IE9 and below */
            /* hide "loading..." text */
            font: 0/0 a;
            color: transparent;
            text-shadow: none;
            background-color: transparent;
            border: 0;
            &:after {
                content: "";
                display: block;
                font-size: 10px;
                width: 1em;
                height: 1em;
                margin-top: -0.5em;
            }
        }
        .ball {
            width: $size;
            height: $size;
            background-color: #56CCf2;
            border-radius: 100%;

            &:nth-child(1) { animation: pull-left $anim-speed ease infinite; }
            &:nth-child(2) { animation: shimmy $anim-speed ease infinite; }
            &:nth-child(3) { animation: pull-right $anim-speed ease infinite; }
        }
    }
}

@keyframes rotate {
    from { transform: rotate(0deg) }
    to { transform: rotate(720deg) }
}

@keyframes shimmy {
    0%, 55% { transform: translate(0, 0) }
    60%, 65% { transform: translate(-$anim-shimmy-out, $anim-shimmy-out) }
    80%, 85% { transform: translate(0, 0) }
    90% { transform: scaleX(1.2) translate(-$anim-shimmy-out*2, 0) }
    100% { transform: translate(0, 0) }
}

@keyframes pull-left {
    0%   { transform: scale($anim-pull-scale-down) translateX($anim-pull-translate-in) }
    50%  { transform: scale(1) translateX(-$anim-pull-translate-out)}
    75% { transform: scale($anim-pull-scale-down*2) translateX($anim-pull-translate-in*2) }
    100% { transform: scale($anim-pull-scale-down) translateX($anim-pull-translate-in) }
}

@keyframes pull-right {
    0%   { transform: scale($anim-pull-scale-down) translateX(-$anim-pull-translate-in) }
    50%  { transform: scale(1) translateX($anim-pull-translate-out)}
    80% { transform: scale($anim-pull-scale-down) translateX(-$anim-pull-translate-in) }
    90% { transform: scale($anim-pull-scale-down) translateX(-$anim-pull-translate-in*2) }
    100% { transform: scale($anim-pull-scale-down) translateX(-$anim-pull-translate-in) }
}
