/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: 'Source Sans Pro';
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Animation */

$size: 80px;
$anim-speed: 2s;

$anim-pull-scale-down: 0.5;
$anim-pull-translate-in: 150%;
$anim-pull-translate-out: 25%;
$anim-shimmy-out: 12px;

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

svg { position: absolute; }

.loading { /* Absolute Center Spinner */
    position: fixed;
    z-index: 99999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    &:before { /* Transparent Overlay */
        content: "";
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 1);
    }
    &:not(:required) { /* :not(:required) hides these rules from IE9 and below */
        /* hide "loading..." text */
        font: 0/0 a;
        color: transparent;
        text-shadow: none;
        background-color: transparent;
        border: 0;
        &:after {
            content: "";
            display: block;
            font-size: 10px;
            width: 1em;
            height: 1em;
            margin-top: -0.5em;
        }
    }
    #loader {
        animation: animate 1.5s linear infinite;
        clip: rect(0, 80px, 80px, 40px);
        height: 80px;
        width: 80px;
        position: absolute;
        left: calc(50% - 40px);
        top: calc(50% - 40px);
        &:after {
            animation: animate2 1.5s ease-in-out infinite;
            clip: rect(0, 80px, 80px, 40px);
            content:'';
            border-radius: 50%;
            height: 80px;
            width: 80px;
            position: absolute;
        }
    }
}

@keyframes animate {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(220deg)
    }
}

@keyframes animate2 {
    0% {
        box-shadow: inset #56CCF2 0 0 0 17px;
        transform: rotate(-140deg);
    }
    50% {
        box-shadow: inset #56CCF2 0 0 0 2px;
    }
    100% {
        box-shadow: inset #56CCF2 0 0 0 17px;
        transform: rotate(140deg);
    }
}
